body main{
    display: flex;
}
body{
    flex-direction: column;
    background-color: silver;
    border-style:solid ;
    border-width: 1px;
}
header{
    background-color: gray;
}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    border-style:solid ;
    border-width: 0.5px;
}
aside{
    flex: 1;
    overflow-y: auto;
    border-style:solid ;
    border-width: 0.5px;
}
